/* Minimalny reset  */
html {
  font-size: 16px; /* bazowy rozmiar czcionki */
  font-family: system-ui, sans-serif; /* font systemowy */
  line-height: 1.5; /* lepsza czytelność */
}
body {
  margin: 1rem;
  padding: 0;
}

h1 {
  text-align: center;
}

.container {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

.card {
  padding: 15px;
  border-radius: 6px;
  margin-top: 15px;
  margin-bottom: 25px;
  text-align: center;

  a {
    font-size: 18px;
    color: #ecedee;
    text-decoration: none;
    background-color: rgb(114, 168, 28);
    padding: 8px 15px;
    border-radius: 5px;
  }
  a:hover {
    text-decoration: none;
    background-color: rgb(92, 136, 21);
  }
}

a {
  color: #555555;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
